[submodule "world-cup-2018"]
	path = world-cup-2018
	url = https://github.com/Candrandika/world-cup-2018.git
[submodule "whack-anya"]
	path = whack-anya
	url = https://github.com/Candrandika/whack-anya.git
[submodule "tug-of-war"]
	path = tug-of-war
	url = https://github.com/Candrandika/tug-of-war.git
